body {
  width: 100%;
  margin: 0 auto;
  height: auto; }
  body .background {
    background-color: #fafafa; }
  body .section1 img {
    width: 100%;
    height: 610px; }
  body h1 {
    margin-top: 5px;
    color: black; }
  body #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    body #header .nav-bar {
      position: fixed;
      width: 100%;
      background-color: rgba(45, 45, 45, 0.98); }
      body #header .nav-bar ul {
        height: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0; }
        body #header .nav-bar ul li {
          -ms-flex-item-align: center;
              align-self: center; }
          body #header .nav-bar ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-family: 'Muli', sans-serif; }
            body #header .nav-bar ul li a:hover {
              color: #0070c9; }
          body #header .nav-bar ul li i {
            font-size: 22px; }
    body #header .text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      body #header .text h1 {
        margin-top: 0;
        -ms-flex-item-align: center;
            align-self: center;
        font-family: 'Oxygen', sans-serif;
        text-align: center;
        width: 100%;
        font-size: 50px; }
      body #header .text p {
        margin-top: 0;
        -ms-flex-item-align: center;
            align-self: center;
        font-size: 45px;
        text-align: center;
        width: 1120px;
        margin: 0 auto;
        font-family: 'Muli', sans-serif; }

.about {
  width: 100%;
  height: 75vh;
  background-color: #fafafa; }
  .about h1 {
    text-align: center;
    padding-top: 62px;
    font-family: 'Oxygen', sans-serif;
    font-size: 41px; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 1120px;
  margin: 0 auto;
  -webkit-transition: width 1s;
  transition: width 1s; }
  .wrap:hover {
    width: 1220px; }
  .wrap .Front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%; }
    .wrap .Front p {
      width: 50%;
      text-align: justify;
      font-size: 18px;
      font-family: 'Muli', sans-serif;
      text-shadow: 3px 2px 4px darkgrey; }
    .wrap .Front h3 {
      font-family: 'Oxygen', sans-serif;
      font-size: 22px;
      text-shadow: 3px 2px 4px darkgrey; }
  .wrap .Back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-family: 'Font Awesome 5 Free';
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    border-radius: 3;
    background-color: transparent; }
    .wrap .Back i {
      font-size: 50px;
      font-weight: 900; }
    .wrap .Back p {
      width: 50%;
      text-align: justify;
      font-size: 18px;
      font-family: 'Muli', sans-serif;
      text-shadow: 3px 2px 4px darkgrey; }
    .wrap .Back h3 {
      font-family: 'Oxygen', sans-serif;
      font-size: 22px;
      text-shadow: 3px 2px 4px darkgrey; }

.work {
  width: 100%;
  height: 680px;
  background-color: #fafafa; }
  .work h1 {
    text-align: center;
    margin-top: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 41px;
    padding-bottom: 30px; }
  .work .flex1 {
    width: 1120px;
    margin: 0 auto;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: width 1s;
    transition: width 1s; }
    .work .flex1:hover {
      width: 1220px; }
    .work .flex1 .btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .work .flex1 .btns a {
        margin-top: 60px;
        -ms-flex-item-align: center;
            align-self: center;
        border-radius: 6px;
        -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
        .work .flex1 .btns a .btn {
          width: 232px;
          height: 45px;
          border-radius: 6px;
          background-color: #fafafa;
          cursor: pointer;
          font-size: 20px;
          font-family: 'Oxygen', sans-serif;
          -webkit-transition: all 0.5s;
          transition: all 0.5s; }
        .work .flex1 .btns a .btn span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
        .work .flex1 .btns a .btn span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -10px;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
        .work .flex1 .btns a .btn:hover span {
          padding-right: 25px; }
        .work .flex1 .btns a .btn:hover span:after {
          opacity: 1;
          right: 0; }

.contact {
  width: 100%;
  height: 40vh;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 1120px;
    margin: 0 auto; }
